body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#canvas {
  width: 800px;
}

#audio-stuff {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

audio {
  width: 100%;
  border: unset !important;
}

audio:focus {
  outline: none;
}

p {
  font-family: 'Fira Code', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#status {
  color: #ff64ff;
}

#selectors {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  gap: 5px;
}

input, label {
  border: 5px solid #ffffff50;
  padding: 10px;
}

progress[value] {
  appearance: none;
  border: none;
  width: 800px;
  height: 20px;
  color: #ff6432;
}